force-app/main/default/flows/Credential_Intake_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Expiry</name>
        <label>Link Still Valid?</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Link_Expired_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired - Past Submission Window</defaultConnectorLabel>
        <rules>
            <name>Link_Not_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLinkExpired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credential_Request</targetReference>
            </connector>
            <label>Yes - Link Still Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Invalid_Link_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record - Invalid Link</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>credentialRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credential_Type</targetReference>
            </connector>
            <label>Yes - Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Status</name>
        <label>Status is Requested?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Already_Submitted_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Not Requested - Already Submitted</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>credentialRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Expiry</targetReference>
            </connector>
            <label>Yes - Status is Requested</label>
        </rules>
    </decisions>
    <description>Public-facing intake form for volunteers to submit credentials. Runs in System Mode Without Sharing so the Guest User Profile needs zero object permissions - the flow acts as the data proxy. Accepts a GUID token via the &apos;id&apos; URL parameter, validates it, checks the link has not expired, and collects the submission. Creates a Credential_Request__c staging record before showing the form so the file upload component has a record Id to attach files to. See docs/decisions/use-screen-flow-in-system-mode.md and docs/decisions/use-staging-object-for-intake.md.</description>
    <formulas>
        <name>isLinkExpired</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!credentialRecord.Requested_Date__c}), TRUE, TODAY() &gt; DATEVALUE({!credentialRecord.Requested_Date__c}) + {!credentialTypeRecord.Link_Expiry_Days__c})</expression>
    </formulas>
    <interviewLabel>Credential Intake Form {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Credential - Intake Form</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credential_Request</name>
        <label>Create Credential Request</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <connector>
            <targetReference>Intake_Form_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Credential__c</field>
            <value>
                <elementReference>credentialRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Credential_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Credential</name>
        <label>Get Credential by Token</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <object>Credential__c</object>
        <outputReference>credentialRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Requested_Date__c</queriedFields>
        <queriedFields>Credential_Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Credential_Type</name>
        <label>Get Credential Type</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>credentialRecord.Credential_Type__c</elementReference>
            </value>
        </filters>
        <object>Credential_Type__c</object>
        <outputReference>credentialTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Link_Expiry_Days__c</queriedFields>
        <queriedFields>Does_Not_Expire__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credential</name>
        <label>Update Credential to Under Review</label>
        <locationX>176</locationX>
        <locationY>1080</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>credentialRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <object>Credential__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Credential_Request</name>
        <label>Update Credential Request with Submission Data</label>
        <locationX>176</locationX>
        <locationY>960</locationY>
        <connector>
            <targetReference>Update_Credential</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Credential_Request</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>expiryDateInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issued_By__c</field>
            <value>
                <elementReference>issuedByInput</elementReference>
            </value>
        </inputAssignments>
        <object>Credential_Request__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Already_Submitted_Screen</name>
        <label>Already Submitted</label>
        <locationX>440</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alreadySubmittedMessage</name>
            <fieldText>&lt;p&gt;This credential has already been submitted. If you believe this is an error, please contact the team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Intake_Form_Screen</name>
        <label>Submit Your Credential</label>
        <locationX>176</locationX>
        <locationY>840</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Credential_Request</targetReference>
        </connector>
        <fields>
            <name>credentialTypeLabel</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Credential Type: &lt;/strong&gt;{!credentialTypeRecord.Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>issuedByInput</name>
            <dataType>String</dataType>
            <fieldText>Issued By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>expiryDateInput</name>
            <dataType>Date</dataType>
            <fieldText>Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>credentialTypeRecord.Does_Not_Expire__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>fileUploadComponent</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Credential_Request</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Invalid_Link_Screen</name>
        <label>Invalid Link</label>
        <locationX>440</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>invalidLinkMessage</name>
            <fieldText>&lt;p&gt;This link is not valid. Please check the URL you were sent and try again, or contact the team for a new link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Link_Expired_Screen</name>
        <label>Link Expired</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>linkExpiredMessage</name>
            <fieldText>&lt;p&gt;This submission link has expired. Please contact the team to request a new link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Submission Received</label>
        <locationX>440</locationX>
        <locationY>1080</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Thank you - your credential has been submitted and is now under review. You will be notified once it has been verified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credential</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>credentialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credential__c</objectType>
    </variables>
    <variables>
        <name>credentialTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credential_Type__c</objectType>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
