force-app/main/default/flows/Credential_Requested_Date_Stamp.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Before-save flow that stamps Requested_Date__c with the current date and time when Status transitions TO Requested. The date is the anchor for the link expiry calculation in the Intake Flow: TODAY() vs DateValue(Requested_Date__c) + Link_Expiry_Days__c. Only fires on the transition - re-saving a record already in Requested status does not overwrite the date.</description>
    <interviewLabel>Credential - Requested Date Stamp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credential - Requested Date Stamp</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <!-- Entry filter: only run when the new Status value is Requested.
             A second check in the decision element confirms the prior value was
             different, so we only fire on the transition not on re-saves. -->
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Credential__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <connector>
            <targetReference>Check_Status_Change</targetReference>
        </connector>
    </start>
    <!-- Guard against re-saves where Status was already Requested.
         Only proceeds to stamp the date when the prior status was something other
         than Requested - i.e. this is a genuine transition. -->
    <decisions>
        <name>Check_Status_Change</name>
        <label>Status Changed to Requested?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>Already Requested - Skip</defaultConnectorLabel>
        <rules>
            <name>Status_Newly_Set_To_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stamp_Requested_Date</targetReference>
            </connector>
            <label>Yes - Newly Set to Requested</label>
        </rules>
    </decisions>
    <!-- Before-save assignment: directly modifies the in-memory record without
         a separate DML operation. Salesforce commits this value as part of the
         original save transaction. -->
    <assignments>
        <name>Stamp_Requested_Date</name>
        <label>Stamp Requested Date</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>$Record.Requested_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <status>Active</status>
</Flow>
