force-app/main/default/flows/Credential_Intake_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Public-facing intake form for volunteers to submit credentials. Runs in System Mode Without Sharing so the Guest User Profile needs zero object permissions - the flow acts as the data proxy. Accepts a GUID token via the 'id' URL parameter, validates it, checks the link has not expired, and collects the submission. See docs/decisions/use-screen-flow-in-system-mode.md.</description>
    <interviewLabel>Credential Intake Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credential - Intake Form</label>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>

    <!-- Entry point: no record trigger - launched from Experience Cloud site page with ?id= in URL.
         The start element has no entry filter; all logic is handled by downstream decision elements. -->
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Credential</targetReference>
        </connector>
    </start>

    <!-- ============================================================
         RECORD LOOKUPS
         All recordLookups elements grouped together as required by
         the Flow XML schema.
         ============================================================ -->

    <!-- Lookup the Credential record using the GUID token from the URL.
         The token is the only handle the volunteer has - the record Id is never exposed.
         queriedFields must list every field the flow reads downstream to avoid null values. -->
    <recordLookups>
        <name>Get_Credential</name>
        <label>Get Credential by Token</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Token__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>id</elementReference>
            </value>
        </filters>
        <object>Credential__c</object>
        <outputReference>credentialRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Requested_Date__c</queriedFields>
        <queriedFields>Credential_Type__c</queriedFields>
    </recordLookups>

    <!-- Lookup the parent Credential Type to get expiry window and Does_Not_Expire flag.
         Only reached after confirming a Credential record exists (Record_Found decision).
         The Credential record's Credential_Type__c lookup Id is used as the filter. -->
    <recordLookups>
        <name>Get_Credential_Type</name>
        <label>Get Credential Type</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>credentialRecord.Credential_Type__c</elementReference>
            </value>
        </filters>
        <object>Credential_Type__c</object>
        <outputReference>credentialTypeRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Link_Expiry_Days__c</queriedFields>
        <queriedFields>Does_Not_Expire__c</queriedFields>
    </recordLookups>

    <!-- ============================================================
         DECISIONS
         ============================================================ -->

    <!-- Gate 1: Was a record found? A null Id means the token does not match any Credential.
         Default path leads to the Invalid Link screen. -->
    <decisions>
        <name>Record_Found</name>
        <label>Record Found?</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <defaultConnector>
            <targetReference>Invalid_Link_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Record - Invalid Link</defaultConnectorLabel>
        <rules>
            <name>Record_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>credentialRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Credential_Type</targetReference>
            </connector>
            <label>Yes - Record Found</label>
        </rules>
    </decisions>

    <!-- Gate 2: Is the Credential in "Requested" status?
         Any other status means the link has already been used or the record is in the wrong state.
         Default path leads to the Already Submitted screen. -->
    <decisions>
        <name>Validate_Status</name>
        <label>Status is Requested?</label>
        <locationX>176</locationX>
        <locationY>480</locationY>
        <defaultConnector>
            <targetReference>Already_Submitted_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Not Requested - Already Submitted</defaultConnectorLabel>
        <rules>
            <name>Status_Is_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>credentialRecord.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Expiry</targetReference>
            </connector>
            <label>Yes - Status is Requested</label>
        </rules>
    </decisions>

    <!-- Gate 3: Has the submission window expired?
         The isLinkExpired formula variable evaluates TODAY() vs the stamped request date + expiry days.
         Default path leads to the Link Expired screen. -->
    <decisions>
        <name>Check_Expiry</name>
        <label>Link Still Valid?</label>
        <locationX>176</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Link_Expired_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Expired - Past Submission Window</defaultConnectorLabel>
        <rules>
            <name>Link_Not_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLinkExpired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Intake_Form_Screen</targetReference>
            </connector>
            <label>Yes - Link Still Valid</label>
        </rules>
    </decisions>

    <!-- ============================================================
         RECORD UPDATES
         ============================================================ -->

    <!-- Write the collected data back to the Credential record and advance status.
         Expiry Date is written regardless of input screen visibility - if Does_Not_Expire__c
         is true the field was hidden and the value will be null, which is the correct outcome. -->
    <recordUpdates>
        <name>Update_Credential</name>
        <label>Update Credential to Under Review</label>
        <locationX>176</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>credentialRecord.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issued_By__c</field>
            <value>
                <elementReference>issuedByInput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>expiryDateInput</elementReference>
            </value>
        </inputAssignments>
        <object>Credential__c</object>
    </recordUpdates>

    <!-- ============================================================
         SCREENS
         ============================================================ -->

    <!-- The main data-collection screen shown to the volunteer.
         Credential type name is read-only. Expiry Date input is conditionally
         hidden when Does_Not_Expire__c is true on the parent type.
         File upload is wired to the Credential record so Salesforce creates
         the ContentDocumentLink automatically. -->
    <screens>
        <name>Intake_Form_Screen</name>
        <label>Submit Your Credential</label>
        <locationX>176</locationX>
        <locationY>720</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Credential</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <fields>
            <!-- Read-only label so the volunteer knows which credential type they are submitting -->
            <name>credentialTypeLabel</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Credential Type: &lt;/strong&gt;{!credentialTypeRecord.Type__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>issuedByInput</name>
            <dataType>String</dataType>
            <fieldText>Issued By</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <!-- Only shown when the credential type does not have a permanent/no-expiry flag.
                 Volunteers with expiring credentials must provide their document's expiry date. -->
            <name>expiryDateInput</name>
            <dataType>Date</dataType>
            <fieldText>Expiry Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>credentialTypeRecord.Does_Not_Expire__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <!-- File upload component linked to the Credential record.
                 Salesforce creates ContentDocumentLink automatically when recordId is set.
                 Accept list restricts to the three permitted document types. -->
            <name>fileUploadComponent</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Document</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.pdf,.jpg,.png</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>credentialRecord.Id</elementReference>
                </value>
            </inputParameters>
        </fields>
    </screens>

    <screens>
        <name>Success_Screen</name>
        <label>Submission Received</label>
        <locationX>440</locationX>
        <locationY>840</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>successMessage</name>
            <fieldText>&lt;p&gt;Thank you - your credential has been submitted and is now under review. You will be notified once it has been verified.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <!-- Shown when the GUID token does not match any Credential record.
         Generic message avoids confirming whether any given token is valid. -->
    <screens>
        <name>Invalid_Link_Screen</name>
        <label>Invalid Link</label>
        <locationX>440</locationX>
        <locationY>240</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>invalidLinkMessage</name>
            <fieldText>&lt;p&gt;This link is not valid. Please check the URL you were sent and try again, or contact the team for a new link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <!-- Shown when the Credential status is no longer "Requested" - submission already received. -->
    <screens>
        <name>Already_Submitted_Screen</name>
        <label>Already Submitted</label>
        <locationX>440</locationX>
        <locationY>480</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>alreadySubmittedMessage</name>
            <fieldText>&lt;p&gt;This credential has already been submitted. If you believe this is an error, please contact the team.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <!-- Shown when the submission window has closed.
         Volunteers must contact the admin to get a new link generated. -->
    <screens>
        <name>Link_Expired_Screen</name>
        <label>Link Expired</label>
        <locationX>440</locationX>
        <locationY>600</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>linkExpiredMessage</name>
            <fieldText>&lt;p&gt;This submission link has expired. Please contact the team to request a new link.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>

    <!-- ============================================================
         FORMULAS
         ============================================================ -->

    <!-- Evaluates whether the submission window has passed.
         ISNULL guard handles the edge case where Requested_Date__c was never stamped.
         DATEVALUE converts the DateTime field to a plain Date for comparison with TODAY().
         The > operator means a volunteer can still submit ON the expiry day. -->
    <formulas>
        <name>isLinkExpired</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!credentialRecord.Requested_Date__c}), TRUE, TODAY() &gt; DATEVALUE({!credentialRecord.Requested_Date__c}) + {!credentialTypeRecord.Link_Expiry_Days__c})</expression>
    </formulas>

    <!-- ============================================================
         VARIABLES
         ============================================================ -->

    <!-- Input variable: receives the GUID token from the ?id= URL parameter on the site page.
         Must be named 'id' to match the parameter embedded in the Submission_Link__c formula. -->
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- SObject variable holding the Credential record returned from the token lookup. -->
    <variables>
        <name>credentialRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credential__c</objectType>
    </variables>

    <!-- SObject variable holding the parent Credential Type record. -->
    <variables>
        <name>credentialTypeRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Credential_Type__c</objectType>
    </variables>

    <status>Active</status>
</Flow>
