force-app/main/default/flows/Credential_Token_Generation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_UUID</name>
        <label>Generate UUID</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <actionName>GenerateUUID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Unique_Token</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>GenerateUUID</nameSegment>
        <outputParameters>
            <assignToReference>tokenValue</assignToReference>
            <name>uuid</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Generates a cryptographically random GUID and writes it to Unique_Token__c immediately after a Credential record is created. The token is the sole identifier embedded in the volunteer submission URL - the Salesforce record ID is never exposed. See docs/decisions/use-guid-token-for-access-control.md.</description>
    <interviewLabel>Credential - Token Generation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credential - Token Generation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Unique_Token</name>
        <label>Update Unique Token</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unique_Token__c</field>
            <value>
                <elementReference>tokenValue</elementReference>
            </value>
        </inputAssignments>
        <object>Credential__c</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_UUID</targetReference>
        </connector>
        <object>Credential__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tokenValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
