force-app/main/default/flows/Credential_Request_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_UUID</name>
        <label>Generate UUID</label>
        <locationX>176</locationX>
        <locationY>372</locationY>
        <actionName>GenerateUUID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Credential_Request</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>input</name>
            <value>
                <stringValue></stringValue>
            </value>
        </inputParameters>
        <nameSegment>GenerateUUID</nameSegment>
        <outputParameters>
            <assignToReference>tokenValue</assignToReference>
            <name>uuid</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Status_Newly_Set_To_Requested</name>
        <label>Status Changed to Requested?</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Already Requested - Skip</defaultConnectorLabel>
        <rules>
            <name>Is_Transition_To_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_UUID</targetReference>
            </connector>
            <label>Yes - Newly Set to Requested</label>
        </rules>
    </decisions>
    <description>After a Credential__c record is updated to Status = Requested, creates a Credential_Request__c staging record with a unique access token. The token is embedded in Submission_Link__c on the new request, giving the admin a URL to copy and send to the volunteer. A new request and token are generated each time the credential transitions to Requested, so each link is tied to a specific request. The prior Credential_Token_Generation flow (which set a token on Credential__c directly) is replaced by this flow.</description>
    <interviewLabel>Credential - Request Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credential - Request Creation</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Credential_Request</name>
        <label>Create Credential Request</label>
        <locationX>176</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Credential__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Awaiting Submission</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Token__c</field>
            <value>
                <elementReference>tokenValue</elementReference>
            </value>
        </inputAssignments>
        <object>Credential_Request__c</object>
    </recordCreates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Newly_Set_To_Requested</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Requested</stringValue>
            </value>
        </filters>
        <object>Credential__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>tokenValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
