force-app/main/default/flows/Credential_Request_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Status_Change</name>
        <label>Status Changed to Approved?</label>
        <locationX>176</locationX>
        <locationY>120</locationY>
        <defaultConnectorLabel>Already Approved - Skip</defaultConnectorLabel>
        <rules>
            <name>Status_Newly_Set_To_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Credential</targetReference>
            </connector>
            <label>Yes - Newly Set to Approved</label>
        </rules>
    </decisions>
    <description>After-save flow that copies the approved submission data from a Credential_Request__c record to its linked Credential__c. Fires when Status changes TO Approved. Writes Issued_By__c and Expiry_Date__c from the request to the credential. Files are not moved - they stay on the Credential_Request__c for audit. See docs/decisions/use-staging-object-for-intake.md.</description>
    <interviewLabel>Credential Request - Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credential Request - Approval</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Credential</name>
        <label>Copy Approved Data to Credential</label>
        <locationX>176</locationX>
        <locationY>240</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Credential__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Expiry_Date__c</field>
            <value>
                <elementReference>$Record.Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issued_By__c</field>
            <value>
                <elementReference>$Record.Issued_By__c</elementReference>
            </value>
        </inputAssignments>
        <object>Credential__c</object>
    </recordUpdates>
    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Change</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <object>Credential_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
